* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

::-webkit-scrollbar-button {
    height: 12px;
}

::-webkit-scrollbar {
    width: 5px;
    background: whitesmoke;
    padding: 10px;
    height: 30px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: #fbba12;
    margin: 10px;
    border-radius: 15px;
}

html {
    scroll-behavior: smooth;
}